mixin toggle(args = {})
  - const { name, value, checked, descr } = args
  label(class='toggle')&attributes(attributes)
    input(
      class='toggle__input',
      type='checkbox',
      name=name,
      value=value,
      checked=(checked === true) ? "checked" : undefined,
    )
    p.toggle__descr!= descr
