mixin dropdown-date(args = {})
  - const { left, right, name } = args
  div(class='dropdown-date js-dropdown-date')&attributes(attributes)
    .dropdown-date__head
      .dropdown-date__arrival
        +label({ left })
          +input-date({ name: `${name}-arrival` }).js-dropdown-date__input-arrival
        +dropdown-date__icon
      .dropdown-date__departure
        +label({ left: right })
          +input-date({ name: `${name}-departure` }).js-dropdown-date__input-departure
        +dropdown-date__icon
    .dropdown-date__bar.js-dropdown-date__bar.dropdown-date__bar_hidden
      +calendar({ name }).dropdown-date__calendar.js-dropdown-date__calendar

mixin dropdown-date__icon()
  +icon({ name: 'expand_more' })(
    class='dropdown-date__icon js-dropdown-date__icon',
    role='button',
    tabindex='0',
  )
