mixin input(args = {})
  -
    const {
      id,
      name,
      value,
      mask,
      type = 'text',
      placeholder = '',
      isIndented = false,
      isMasked = false,
    } = args
    const inputClass = ['input']
    if (isIndented) inputClass.push('input_indented')
    if (isMasked) inputClass.push('input_masked', 'js-input_masked')

  input(
    class=inputClass,
    type=type,
    id=id,
    name=name,
    placeholder=placeholder,
    value=value,
    data-inputmask=mask,
  )&attributes(attributes)
