mixin like-button(args = {})
  -
    const { name, count, checked = false } = args
    const numberOfLikes = count + (checked ? 1 : 0);

  label.like-button.js-like-button&attributes(attributes)
    input(
      class='like-button__input js-like-button__input',
      type='checkbox',
      name=name,
      checked=(checked ? true : false),
    )
    .like-button__counter.js-like-button__counter= numberOfLikes
