.header
  .header__logo
    +logo("small", true, true)
  .header__nav
    ul
      li
        a(href="#about")='О нас'
      li.header__nav_exp
        a(href="#services")='Услуги'
        ul
          li
            a='Услуги_001'
          li
            a='Услуги_002'
      li
        a(href="#vacancies")='Вакансии'
      li
        a(href="#news")='Новости'
      li.header__nav_exp
        a(href="#agreements")='Соглашения'
        ul
          li
            a='Соглашения_001'
          li
            a='Соглашения_002'
    +button-custom("border", "войти", "button-sign-in")(class="header__button-sign-in")
    +button-custom("fill", "зарегистрироваться", "button-sign-up")(class="header__button-sign-up")