mixin range-slider(minRange=0, maxRange=15, inputStep=0.5, lowerValue=5, upperValue=10, left="range slider", right="5000ла - 10000ла")
    div.range-slider
        +label({ left, right })
        div.range-slider__case
            input.range-slider__lower(type="range" min=minRange max=(maxRange - 2*inputStep) value=lowerValue step=inputStep)
            .range-slider__filler
            input.range-slider__upper(type="range" min=(minRange + 2*inputStep) max=maxRange value=upperValue step=inputStep)