mixin input-text(inputTextName, inputTextPlaceholder, leftLabel = "text field", rightLabel = "", isMasked = false, inputPattern="")
  div.input-text
    label 
      div.input-text__label
        span(class="input-text__label-left") #{leftLabel}
        span(class="input-text__label-right") #{rightLabel}
    if isMasked
      input(class="input-text__input" + " input-text__input_masked" type="text" name=inputTextName placeholder=inputTextPlaceholder pattern=inputPattern)
    else 
      input(class="input-text__input" type="text" name=inputTextName placeholder=inputTextPlaceholder)
