mixin comment(args = {})
  - const { imgSrc, nickname, date, message, value } = args

  .comment
    .comment__header
      img(
        class='comment__avatar',
        src=require('assets/img/' + imgSrc).default,
        alt='No available'
      )
      .comment__info
        .comment__nickname= nickname
        .comment__date= date
    .comment__body
      .comment__like-button
        +like-button(args)
      .comment__message= message
