mixin radio-button(args = {})
  - const { name, value, text, checked } = args
  label(class='radio-button')&attributes(attributes)
    input(
      class='radio-button__input',
      type='radio',
      name=name,
      value=value,
      checked=checked,
    )
    span.radio-button__text
      | #{text}
