mixin carousel(imgArray)
    .carousel
        .carousel__shadow-left
        .carousel__shadow-right
        each val in imgArray
            img.carousel__image.carousel__image_hidden(src=val alt='no available')
        +icon('expand_more')(class='carousel__backward') 
        +icon('expand_more')(class='carousel__forward') 
        .carousel__menu
            - let n= 0
            each val in imgArray
                .carousel__dot= n
                - n = n + 1


mixin card-hotel-room(imgArray=[], roomNumber=864, roomCoast=1260, reviewNumber=84, isLux=true)
    .card-hotel-room
        +carousel(imgArray)
        .card-hotel-room__info-box
        .card-hotel-room__first-line
            .card-hotel-room__number № #[strong #{roomNumber}]
            if isLux
                span.card-hotel-room__lux &#32;ЛЮКС
            .card-hotel-room__coast #[b #{roomCoast}₽] в сутки
        .card-hotel-room__hr
        .card-hotel-room__second-line
            +rate-button
            .card-hotel-room__reviews #[b #{reviewNumber}] Отзывов

      
