mixin comment(args = {})
  - const { img, nickname, date, message, value } = args
  .comment
    .comment__header
      img(
        class='comment__avatar',
        src=require('assets/img/' + img).default,
        alt='No available'
      )
      .comment__info
        .comment__nickname= nickname
        .comment__date= date
    .comment__body
      +like-button()(class='comment__like-button' value=value)
      .comment__message= message
