-
  const socialFollowList = [
    { link: 'google.com', icon: { name: '&#xf099;', font: 'awesome', tag: 'div' } },
    { link: 'google.com', icon: { name: '&#xf082;', font: 'awesome', tag: 'div' } },
    { link: 'google.com', icon: { name: '&#xf16d;', font: 'awesome', tag: 'div' } },
  ]

mixin social-follow(items = socialFollowList)
  .social-follow
    ul.social-follow__list
      - const length = items.length
      each item, i in items
        - const { link, icon } = item
        - const itemMod = (i < length - 1) ? 'social-follow__item_indented' : null
        li(class=`social-follow__item  ${itemMod}`)
          a(
            class='social-follow__link',
            href=link,
            target='_blank',
            rel='noopener noreferrer',
          )
            .social-follow__icon
              +icon(icon)
