mixin radio-button(args = {})
  - const { name, value, descr, checked } = args
  label(class='radio-button')&attributes(attributes)
    input(
      class='radio-button__input',
      type='radio',
      name=name,
      value=value,
      checked=(checked === true) ? "checked" : undefined,
    )
    .radio-button__descr
      | #{descr}
