include ../../components/favicon/favicon.pug
include ../../components/layout/layout.pug
include ../../components/logo/logo.pug
- const data = htmlWebpackPlugin.options.data
- const { pageTitle, colors, fonts } = data

+layout
  +layout__block('head')
    title= pageTitle

  +layout__block('content')
    .colors-and-types
      .colors-and-types__logo
        +logo({ size: 'big', isColored: false, isSigned: false })
      .colors-and-types__grid
        .colors
          each color, index in colors
            - const length = colors.length
            .colors__color
              div(class=`colors__sample colors__sample_color_${color.name}`)
              .colors__descr
                | #{color.descr}
                br
                span.colors__code= color.code
        .types
          each font in fonts
            .types__type
              span(class=`types__label types__label_type_${font.class}`)= font.label
              span(class=`types__text types__text_type_${font.class}`)= font.text
