mixin checkbox(args = {})
  - const { name, value, text } = args
  label.checkbox&attributes(attributes)
    input(
      class='checkbox__input',
      type='checkbox',
      name=name,
      checked=(value === true) ? "checked" : undefined,
    )
    .checkbox__text= text
    if block
      block
