mixin calendar(args = {})
  - const { name } = args
  .calendar.js-calendar&attributes(attributes)
    .calendar__head
      +icon({ name: 'arrow_back' })(class='calendar__button-backward')
      +icon({ name: 'arrow_back' })(class='calendar__button-forward')
      .calendar__title= 'title'
    table.calendar__table
      thead
        tr.calendar__table-row
          each dotw in ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']
            th.calendar__table-th= dotw
      tbody.js-calendar__table-body
        each i in [0, 7, 14, 21, 28]
          tr.calendar__table-row
            each j in [1, 2, 3, 4, 5, 6, 7]
              td(data-index=`${i + j}` class='calendar__table-cell js-calendar__table-cell')= ''
        tr.calendar__table-row.js-calendar__table-6th-row
          each k in [1, 2, 3, 4, 5, 6, 7]
            td(data-index=`${35 + k}` class='calendar__table-cell js-calendar__table-cell')= ''
    .calendar__buttons
      +button('ОЧИСТИТЬ', `${name}-clear`)(class='calendar__button-clear')
      +button('ПРИМЕНИТЬ', `${name}-apply`)(class='calendar__button-apply')
