mixin dropdown__option(name)
    .dropdown__option
        .dropdown__option-item= name
        .dropdown__option-button= '+'
        .dropdown__option-value= '0'
        .dropdown__option-button.dropdown__option-button_blacked= '-'


mixin dropdown(args, attr)
    - var args = args || {}
    - var attr = attr || {}
    - var {haveButtons, left, right, name, value} = args
    - var options = args.options || []
    - var barMod = (haveButtons) ? 'dropdown__bar_instant-count' : ''
    .dropdown
        +label(left, right)
            +input-text({name: name, value: value})(readonly class=`dropdown__input-text js-dropdown__input-text dropdown__input-text_angled`)
            .dropdown__icon
                +icon({text: 'expand_more'})
        div(class=`dropdown__bar js-dropdown__bar dropdown__bar_hidden dropdown__bar_shadow ${barMod}`)
            .dropdown__options
                each option in options
                    +dropdown__option(option)
            if haveButtons
                .dropdown__buttons.js-dropdown__buttons
                    +button('ОЧИСТИТЬ', `${name}-clear`)(class='dropdown__button-clear dropdown__button-clear_hidden')
                    +button('ПРИМЕНИТЬ', `${name}-apply`)(class='dropdown__button-apply')