mixin dropdown-filter-date(args = {})
  - const { label, name } = args
  .dropdown-filter-date.js-dropdown-filter-date&attributes(attributes)
    .dropdown-filter-date__head
      +label({ left: label })
        .dropdown-filter-date__pseudo-input.js-dropdown-filter-date__pseudo-input
      +icon({ name: 'expand_more' })(
        class='dropdown-filter-date__icon js-dropdown-filter-date__icon',
        tabindex=0,
        role='button',
      )
      +input-text({ name: `${name}-arrival` })(
        class='dropdown-filter-date__input-arrival js-dropdown-filter-date__input-arrival',
        disabled=true,
      )
      +input-text({ name: `${name}-departure` })(
        class='dropdown-filter-date__input-departure js-dropdown-filter-date__input-departure',
        disabled=true,
      )
    .js-dropdown-filter-date__bar.dropdown-filter-date__bar_hidden
      +calendar({ name })(class='dropdown-filter-date__calendar js-dropdown-filter-date__calendar')
