mixin toggle(args)
  - const { name, value, checked, text } = args
  label.toggle
    input(
      class='toggle__input',
      type='checkbox',
      name=name,
      value=value,
      checked=checked,
    )&attributes(attributes)
    span.toggle__text-wrapper
      span.toggle__text= text
