mixin toggle(args = {})
  - const { name, value, checked, descr = '' } = args
  label(class='toggle')
    input(
      class='toggle__input',
      type='checkbox',
      name=name,
      value=value,
      checked=(checked === true) ? 'checked' : undefined,
    )&attributes(attributes)
    span.toggle__descr-wrapper
      span.toggle__descr= descr
